
/* TYPOGRAPHY */
/* ----------------------------------------- */

body { font-size:75% }
input, textarea, select, th, td { font-size:1em }

h1, h2, h3, h4, h5, h6 { font-weight:bold } /* This helps to identify headings at the initial build stage, so I thought it'd be useful to have it */
.alert { background:red; color:white } /* 'alert' has a basic style, since it's useful to have it standing out for testing purposes. */





h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

body, p {
	font-family: Geneva, "Helvetica Neue", Arial, Helvetica, sans-serif;
}



a:link, a:visited { color: #151515; text-decoration: none; }
a:hover { color: #555; text-decoration: underline; }